# Copy this file to .env and adjust values if needed
#--------------------------------------------------------------------

# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development
#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'http://localhost:8080/'
#--------------------------------------------------------------------

# DATABASE
#--------------------------------------------------------------------
database.default.hostname = db
database.default.database = comments_db
database.default.username = app_user
database.default.password = app_password
database.default.DBDriver = MySQLi
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci
#--------------------------------------------------------------------

# NOTES
#--------------------------------------------------------------------
# - For production set:
# CI_ENVIRONMENT = production
#
# - If you change DB credentials, update docker-compose.yml accordingly
#
# - After setup run migrations:
# docker exec -it tz_hotels_web php spark migrate
